.completedItemsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.completedHeader {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(110, 110, 110);
  padding: 20px 0 10px 0;
}