.completedItem {
  display: flex;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 0 3px gray;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 4px;
  padding: 0 10px 0 5px;
  align-items: center;
  justify-content: space-between;
}

input[type=checkbox] {
  opacity: 0;
  height: 0;
  width: 0;
}

.itemNameContainer {
  display: flex;
  align-items: center;
  min-width: 0;
}

.completedCheckbox {
  padding: 15px;
  background-image: url("../Graphics/Checkbox Checked.png");
  background-position: center;
  background-repeat: no-repeat;
}

.nonTouchChecked:hover {
  cursor: pointer;
  animation-name: check-fade-out;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes check-fade-out {
  from {background-image: url("../Graphics/Checkbox Checked.png");}
  to {background-image: url("../Graphics/Checkbox Unchecked.png");}
}

.removeButtonGray {
  display: block;
  height: 26px;
}

.removeButtonBlue {
  display: none;
  height: 26px;
}

.removeButton:hover .removeButtonBlue {
  display: block;
  cursor: pointer;
}

.removeButton:hover .removeButtonGray {
  display: none;
  cursor: pointer;
}

.completedItemName {
  font-family: Verdana, sans-serif;
  text-decoration: line-through;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}